<div>
  <h1 mat-dialog-title>{{action}}</h1>
</div>
<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="tableForm">
    <ng-template>Email</ng-template>
    <form novalidate (ngSubmit)="onNext()" [formGroup]="tableForm" role="form">

      <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
          <div fxFlex="100" fxFlex.lt-md="100">
            <mat-form-field style="width: 100%;">
              <input placeholder="email" matInput formControlName="email">
              <mat-error>
                {{errors['email']}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    
      <div mat-dialog-actions style="float: right;">
        <div>
          <button class="dialog-btn" mat-raised-button type="button" (click)="closeDialog()">{{cancel}}</button>
          <button class="dialog-btn" mat-raised-button color="primary" type="submit"
            [disabled]="tableForm.invalid" matStepperNext>Next</button>
        </div>
      </div>
    
    </form>    
  </mat-step>
  <mat-step>
    <ng-template>Role</ng-template>
    <form novalidate (ngSubmit)="onNext()" [formGroup]="tableForm" role="form">

      <div mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
          <div fxFlex="100" fxFlex.lt-md="100">
            <mat-form-field style="width: 100%;">
              <mat-select placeholder="Role" formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
              </mat-select>
              <mat-error>
                {{errors['role']}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    
      <div mat-dialog-actions style="float: right;">
        <div>
          <button class="dialog-btn" mat-raised-button type="button" (click)="closeDialog()">{{cancel}}</button>
          <button class="dialog-btn" mat-raised-button color="primary" type="submit"
            [disabled]="tableForm.invalid" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template>Confirm</ng-template>
    <div mat-dialog-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
        <div fxFlex="100" fxFlex.lt-md="100">
          <mat-form-field style="width: 100%;">
            <input placeholder="email" matInput formControlName="email" [disabled]="tableForm.invalid">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.lt-md="100">
          <mat-form-field style="width: 100%;">
            <input placeholder="Role" matInput formControlName="role" [disabled]="tableForm.invalid">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions style="float: right;">
      <div>
        <button class="dialog-btn" mat-raised-button type="button" (click)="closeDialog()">{{cancel}}</button>
        <button class="dialog-btn" mat-raised-button color="primary" (click)="onSubmit()">{{action}}</button>
      </div>
    </div>
  </mat-step>
</mat-stepper>