<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">leads works!</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - leads</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, nisi dolorum eos sed aperiam necessitatibus exercitationem sit culpa voluptatem possimus corrupti sequi et ex reiciendis fugit vel quas aliquid eligendi.
    </div>
    <a [routerLink]="['', 'upload']"> Add lead</a>
</div>